[submodule "lib/mir"]
	path = lib/mir
	url = git@github.com:vnmakarov/mir.git
[submodule "lib/utf8-utf16-converter"]
	path = lib/utf8-utf16-converter
	url = git@github.com:Davipb/utf8-utf16-converter.git
[submodule "lib/mimalloc"]
	path = lib/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	branch = dev
