[submodule "libs/spidir"]
	path = libs/spidir
	url = git@github.com:nmraz/spidir.git
[submodule "libs/zydis"]
	path = libs/zydis
	url = git@github.com:zyantific/zydis.git
[submodule "TdnCoreLib"]
	path = TdnCoreLib
	url = git@github.com:TomatOrg/TdnCoreLib.git
